@model Event
<form method="post" asp-antiforgery="true">
    
    <div>
        <label asp-for="Name"></label>
        <br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>

    </div>
    <div>
        <label asp-for="Date"></label>
        <br />
        <input type="datetime-local" asp-for="Date" />
        <span asp-validation-for="Date"></span>
    </div>
    <div>
        <label asp-for="Location"></label>
        <br />
        <input asp-for="Location" />
        <span asp-validation-for="Location"></span>
    </div>
    <div>
        <label asp-for="Details"></label>
        <br />
        <textarea asp-for="Details" rows="10" cols="30"></textarea>
        <span asp-validation-for="Details"></span>
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Save Event" />
    </div>
</form>
